In [318]:
import pandas as pd

In [319]:
# read csv

df = pd.read_csv('data.csv')

In [320]:
df

,name,contest,amount,committee_name,position,slate,race
0,1266 Ninth LLC(Dan Safier),Proposition A,375.0,Affordable Housing For SF,Support,NaN,Measure
1,3333 California(Dan Safier),Proposition A,13900.0,Affordable Housing For SF,Support,NaN,Measure
2,3700 California(Dan Safier),Proposition A,11900.0,Affordable Housing For SF,Support,NaN,Measure
3,94123Hala Hijazi,John Avalos,250.0,John Avalos For Democratic County Central Comm...,Support,progressive,DCCC
4,A San Francisco For All of Us,Proposition F,7500.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
...,...,...,...,...,...,...,...
4148,Yen Hui,Seat 13,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4149,Yj Choi,Seat 13,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4150,Zachary Alinder,Seat 1,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Seat 1,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4152,Zachary Stobo,Seat 13,500.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge

In [321]:
df[df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku"]

,name,contest,amount,committee_name,position,slate,race
2879,A. Marisa Chun,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2880,A. Marisa Chun,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2882,Aaron Peskin,Seat 1,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2883,Aaron Peskin,Seat 13,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2893,Alan Murphy,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
...,...,...,...,...,...,...,...
4127,William Cahill,Seat 13,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4134,William Osterhoudt,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4135,William Osterhoudt,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4143,William Wilson,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4144,William Wilson,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge

## Fixing judge contest names

In [322]:
# show the rows where the race equals "judge" 

df[df["race"] == "judge"].committee_name.value_counts()

Begert 2024; Retain Judge Michael                                                                                   365
Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku    247
Zecher For Superior Court Judge 2024; Chip                                                                          239
Thompson 2024; Retain Judge Patrick                                                                                 213
Roland For Superior Court Judge 2024; Jean Myungjin                                                                 209
Independent Expenditure                                                                                               2
Name: committee_name, dtype: int64

In [323]:
df[df["contest"] == "Seat 1"]

,name,contest,amount,committee_name,position,slate,race
2878,A Chun,Seat 1,500.0,Begert 2024; Retain Judge Michael,right,None,judge
2879,A. Marisa Chun,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2881,Aaron Peskin,Seat 1,100.0,Begert 2024; Retain Judge Michael,right,None,judge
2882,Aaron Peskin,Seat 1,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2885,Aarti Kohli,Seat 1,500.0,Begert 2024; Retain Judge Michael,right,None,judge
...,...,...,...,...,...,...,...
4143,William Wilson,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4145,William Witte,Seat 1,1000.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4146,Wisfe Aish,Seat 1,12500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4150,Zachary Alinder,Seat 1,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Seat 1,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge

In [324]:
df.loc[(df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku") & (df["contest"] == "Seat 1"), "contest"] = "Michael Isaku Begert"

In [325]:
df.loc[(df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku") & (df["contest"] == "Seat 13"), "contest"] = "Patrick Thompson"

In [326]:
df.loc[(df["committee_name"] == "Begert 2024; Retain Judge Michael"), "contest"] = "Michael Isaku Begert"

In [327]:
df.loc[(df["committee_name"] == "Zecher For Superior Court Judge 2024; Chip"), "contest"] = "Albert Zecher"

In [328]:
df.loc[(df["committee_name"] == "Thompson 2024; Retain Judge Patrick"), "contest"] = "Patrick Thompson"

In [329]:
df.loc[(df["committee_name"] == "Roland For Superior Court Judge 2024; Jean Myungjin"), "contest"] = "Jean Myungjin Roland"

In [330]:
df[df["committee_name"] == "Independent Expenditure "]

Empty DataFrame
Columns: [name, contest, amount, committee_name, position, slate, race]
Index: []

In [331]:
df.loc[(df["committee_name"] == "Independent Expenditure") & (df["contest"] == "Seat 1"), "contest"] = "Albert Zecher"

In [332]:
df.loc[(df["committee_name"] == "Independent Expenditure") & (df["contest"] == "Seat 13"), "contest"] = "Jean Myungjin Roland"

## Fix Prop contest names

In [333]:
df.loc[(df["contest"] == "Proposition A") & (df["position"] == "Support"), "contest"] = "Yes on Prop. A"

In [334]:
df.loc[(df["contest"] == "Proposition A") & (df["position"] == "Oppose"), "contest"] = "No on Prop. A"

In [335]:
df.loc[(df["contest"] == "Proposition B") & (df["position"] == "Support"), "contest"] = "Yes on Prop. B"

In [336]:
df.loc[(df["contest"] == "Proposition B") & (df["position"] == "Oppose"), "contest"] = "No on Prop. B"

In [337]:
df.loc[(df["contest"] == "Proposition C") & (df["position"] == "Support"), "contest"] = "Yes on Prop. C"

In [338]:
df.loc[(df["contest"] == "Proposition C") & (df["position"] == "Oppose"), "contest"] = "No on Prop. C"

In [339]:
df.loc[(df["contest"] == "Proposition E") & (df["position"] == "Support"), "contest"] = "Yes on Prop. E"

In [340]:
df.loc[(df["contest"] == "Proposition E") & (df["position"] == "Oppose"), "contest"] = "No on Prop. E"

In [341]:
df.loc[(df["contest"] == "Proposition F") & (df["position"] == "Support"), "contest"] = "Yes on Prop. F"

In [342]:
df.loc[(df["contest"] == "Proposition F") & (df["position"] == "Oppose"), "contest"] = "No on Prop. F"

In [343]:
df.loc[(df["contest"] == "Proposition G") & (df["position"] == "Oppose"), "contest"] = "No on Prop. G"

In [344]:
df.loc[(df["contest"] == "Proposition G") & (df["position"] == "Support"), "contest"] = "Yes on Prop. G"

In [345]:
df[df['race'] == 'Measure']

,name,contest,amount,committee_name,position,slate,race
0,1266 Ninth LLC(Dan Safier),Yes on Prop. A,375.0,Affordable Housing For SF,Support,NaN,Measure
1,3333 California(Dan Safier),Yes on Prop. A,13900.0,Affordable Housing For SF,Support,NaN,Measure
2,3700 California(Dan Safier),Yes on Prop. A,11900.0,Affordable Housing For SF,Support,NaN,Measure
4,A San Francisco For All of Us,Yes on Prop. F,7500.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
6,A4Eca LLC,No on Prop. F,5000.0,Reduce SF'S Homelessness; A Committee Against ...,Oppose,NaN,Measure
...,...,...,...,...,...,...,...
2833,"Wilson Meany, LP(Chris Meany)",Yes on Prop. A,5000.0,Affordable Housing For SF,Support,NaN,Measure
2835,Wisfe Aish,Yes on Prop. G,25000.0,Bring Algebra Back 2024,Support,NaN,Measure
2849,Yes On Prop E For A Safer SF - Mayor Breed'S B...,Yes on Prop. F,8700.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
2855,Yvonne Bocci,Yes on Prop. E,300.0,Yes On Prop E For A Safer SF - Mayor Breed'S B...,Support,NaN,Measure
2859,Zachary Dewitt,Yes on Prop. E,300.0,Yes On Prop E For A Safer SF - Mayor Breed'S B...,Support,NaN,Measure

## Merge data

In [346]:
df

,name,contest,amount,committee_name,position,slate,race
0,1266 Ninth LLC(Dan Safier),Yes on Prop. A,375.0,Affordable Housing For SF,Support,NaN,Measure
1,3333 California(Dan Safier),Yes on Prop. A,13900.0,Affordable Housing For SF,Support,NaN,Measure
2,3700 California(Dan Safier),Yes on Prop. A,11900.0,Affordable Housing For SF,Support,NaN,Measure
3,94123Hala Hijazi,John Avalos,250.0,John Avalos For Democratic County Central Comm...,Support,progressive,DCCC
4,A San Francisco For All of Us,Yes on Prop. F,7500.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
...,...,...,...,...,...,...,...
4148,Yen Hui,Jean Myungjin Roland,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4149,Yj Choi,Jean Myungjin Roland,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4150,Zachary Alinder,Michael Isaku Begert,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Albert Zecher,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4152,Zachary Stobo,Jean Myungjin Roland,500.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge

In [347]:
votes = pd.read_csv('votes.csv')

In [348]:
votes

            contest  votes     race
0    Yes on Prop. A  68458  Measure
1     No on Prop. A  32599  Measure
2    Yes on Prop. B  32623  Measure
3     No on Prop. B  67492  Measure
4    Yes on Prop. C  53236  Measure
..              ...    ...      ...
62  Marjan Philhour  11245     DCCC
63        Mano Raju   7396     DCCC
64       Hene Kelly   6513     DCCC
65       Gordon Mar   8961     DCCC
66       Brian Quan   9614     DCCC

[67 rows x 3 columns]

In [349]:
# group by contest and sum the votes but also keep the slate 

df = df.groupby(['contest']).agg({'amount': 'sum', 'slate': 'first'}).reset_index()

In [350]:
df

             contest      amount        slate
0   Adolfo Velasquez    17453.00  progressive
1      Albert Zecher   704683.96         None
2     Anita Martinez    16572.00  progressive
3      Bilal Mahmood   274675.00     moderate
4         Brian Quan    52817.00     moderate
..               ...         ...          ...
60    Yes on Prop. B   617500.00         None
61    Yes on Prop. C   379348.00         None
62    Yes on Prop. E  2255905.00         None
63    Yes on Prop. F  1076000.00         None
64    Yes on Prop. G   174221.00         None

[65 rows x 3 columns]

In [351]:
# rename the amount column to amount_raised 

df = df.rename(columns={"amount": "amount_raised"})

In [352]:
# delete the row where the contest is multiple candidates RCCC

df = df[df.contest != "Multiple Candidates Rccc"]

In [353]:
df

             contest  amount_raised        slate
0   Adolfo Velasquez       17453.00  progressive
1      Albert Zecher      704683.96         None
2     Anita Martinez       16572.00  progressive
3      Bilal Mahmood      274675.00     moderate
4         Brian Quan       52817.00     moderate
..               ...            ...          ...
60    Yes on Prop. B      617500.00         None
61    Yes on Prop. C      379348.00         None
62    Yes on Prop. E     2255905.00         None
63    Yes on Prop. F     1076000.00         None
64    Yes on Prop. G      174221.00         None

[64 rows x 3 columns]

In [354]:
# make a list of all the contests

contests = df.contest.unique()

In [355]:
contests

array(['Adolfo Velasquez', 'Albert Zecher', 'Anita Martinez',
       'Bilal Mahmood', 'Brian Quan', 'Carrie Barnes',
       'Catherine Stefani', 'Cedric Akbar', 'Connie Chan', 'Dan Calamuci',
       'Emma Heiken', 'Frances Hsieh', 'Frank Tizedes', 'Gloria Berry',
       'Gordon Mar', 'Greg Hardeman', 'Hene Kelly', 'Jade Tu', 'Jane Kim',
       'Jean Myungjin Roland', 'Jen Nossokoff', 'Jeremy Lee',
       'Joe Sangirardi', 'John Avalos', 'Joshua Rudy Ochoa',
       'Kristin Hardy', 'Lanier Coles', 'Laurance Lee', 'Leah Lacroix',
       'Lily Ho', 'Luis Zamora', 'Lyn Werbach', 'Mano Raju',
       'Marjan Philhour', 'Matt Dorsey', 'Michael Isaku Begert',
       'Michael Lai', 'Michael Nguyen', 'Michela Alioto-Pier',
       'Mike Chen', 'Nancy Tung', 'Natalie Gee', 'No on Prop. B',
       'No on Prop. C', 'No on Prop. E', 'No on Prop. F', 'Parag Gupta',
       'Patrick Bell', 'Patrick Thompson', 'Peter Gallotta', 'Peter Lee',
       'Queena Chen', 'Sal Rosselli', 'Sandra Fewer', 'Sara Barz',
       'Sydney Simpson', 'Trevor Chandler', 'Vick Chung',
       'Yes on Prop. A', 'Yes on Prop. B', 'Yes on Prop. C',
       'Yes on Prop. E', 'Yes on Prop. F', 'Yes on Prop. G'], dtype=object)

In [356]:
votes.contest.unique()

array(['Yes on Prop. A', 'No on Prop. A', 'Yes on Prop. B',
       'No on Prop. B', 'Yes on Prop. C', 'No on Prop. C',
       'Yes on Prop. E', 'No on Prop. E', 'Yes on Prop. F',
       'No on Prop. F', 'Yes on Prop. G', 'No on Prop. G',
       'Michael Isaku Begert', 'Chip Zecher', 'Patrick Thompson',
       'Jean Myungjin Roland', 'Peter Gallotta', 'Kristin Hardy',
       'Emma Heiken', 'Lily Ho', 'John Avalos', 'Cedric Akbar',
       'Nancy Tung', 'Frank Tizedes', 'Michael Lai', 'Jeremy Lee',
       'Laurance Lem Lee', 'Peter Ho Lik Lee', 'Trevor Chandler',
       'Vick Chung', 'Christopher Christensen', 'Carrie Barnes',
       'Patrick Bell', 'Gloria Berry', 'Adolfo Velasquez',
       'Michael Nguyen', 'Lyn Werbach', 'Joe Sangirardi',
       'Sydney Simpson', 'Joshua Rudy Ochoa', 'Luis Zamora',
       'Matt Dorsey', 'Sal Rosselli', 'Jane Kim', 'Bilal Mahmood',
       'Anita Martinez', 'Parag Gupta', 'Natalie Gee', 'Greg Hardeman',
       'Frances Hsieh', 'Michela Alioto-Pier', 'Jade Tu', 'Leah Lacroix',
       'Sandra Lee Fewer', 'Connie Chan', 'Mike Chen', 'Queena Chen',
       'Dan Calamuci', 'Lanier Coles', 'Sara Barz', 'Jen Nossokoff',
       'Catherine Stefani', 'Marjan Philhour', 'Mano Raju', 'Hene Kelly',
       'Gordon Mar', 'Brian Quan'], dtype=object)

In [357]:
votes.columns

Index(['contest', 'votes', 'race'], dtype='object')

In [358]:
# change amount to number_votes 

votes = votes.rename(columns={"amount": "number_votes"})

In [359]:
votes

            contest  votes     race
0    Yes on Prop. A  68458  Measure
1     No on Prop. A  32599  Measure
2    Yes on Prop. B  32623  Measure
3     No on Prop. B  67492  Measure
4    Yes on Prop. C  53236  Measure
..              ...    ...      ...
62  Marjan Philhour  11245     DCCC
63        Mano Raju   7396     DCCC
64       Hene Kelly   6513     DCCC
65       Gordon Mar   8961     DCCC
66       Brian Quan   9614     DCCC

[67 rows x 3 columns]

In [360]:
# in df["contest"] replace Sandra Lee Fewer with Sandra Lee Fewer for Supervisor

df.loc[(df["contest"] == "Sandra Fewer"), "contest"] = "Sandra Lee Fewer"
df.loc[(df["contest"] == "Albert Zecher"), "contest"] = "Chip Zecher"
df.loc[(df["contest"] == "Peter Lee"), "contest"] = "Peter Ho Lik Lee"
df.loc[(df["contest"] == "Laurance Lee"), "contest"] = "Laurance Lem Lee"

In [361]:
# join the two dataframes on contest

df = df.merge(votes, on="contest", how='outer')

In [362]:
df

                    contest  amount_raised        slate  votes      race
0          Adolfo Velasquez       17453.00  progressive   9735      DCCC
1               Chip Zecher      704683.96         None  36970    Judge
2            Anita Martinez       16572.00  progressive  11181      DCCC
3             Bilal Mahmood      274675.00     moderate  15631      DCCC
4                Brian Quan       52817.00     moderate   9614      DCCC
..                      ...            ...          ...    ...       ...
62           Yes on Prop. F     1076000.00         None  63295   Measure
63           Yes on Prop. G      174221.00         None  83916   Measure
64            No on Prop. A            NaN         None  32599   Measure
65            No on Prop. G            NaN         None  16105   Measure
66  Christopher Christensen            NaN         None   2594      DCCC

[67 rows x 5 columns]

In [363]:
# show column types

df.dtypes

contest           object
amount_raised    float64
slate             object
votes              int64
race              object
dtype: object

In [364]:
# if amount raised is null, replace with 0

df["amount_raised"] = df["amount_raised"].fillna(0)

In [365]:
df.dtypes

contest           object
amount_raised    float64
slate             object
votes              int64
race              object
dtype: object

In [366]:
dfDCCC = df[df['race'] == 'DCCC']

In [367]:
dfMeasure = df[df['race'] == 'Measure']

In [368]:
dfMeasure

           contest  amount_raised slate  votes     race
42   No on Prop. B      1375760.0  None  67492  Measure
43   No on Prop. C        74640.0  None  45553  Measure
44   No on Prop. E       212166.0  None  40053  Measure
45   No on Prop. F        38531.0  None  37139  Measure
58  Yes on Prop. A       926350.0  None  68458  Measure
59  Yes on Prop. B       617500.0  None  32623  Measure
60  Yes on Prop. C       379348.0  None  53236  Measure
61  Yes on Prop. E      2255905.0  None  59818  Measure
62  Yes on Prop. F      1076000.0  None  63295  Measure
64   No on Prop. A            0.0   NaN  32599  Measure

In [369]:
# save as csv

dfDCCC.to_csv('dccc_data.csv', index=False)

In [370]:
dfMeasure.to_csv('measure_data.csv', index=False)

More analysis

In [371]:
from sklearn.linear_model import LinearRegression

In [372]:
# Import necessary libraries
from sklearn.linear_model import LinearRegression
import pandas as pd

# Define your dataset (assuming it's in a pandas DataFrame)
data = {
    'contest': ['No on Prop. B', 'No on Prop. C', 'No on Prop. E', 'No on Prop. F', 'Yes on Prop. A', 'Yes on Prop. B', 'Yes on Prop. C', 'Yes on Prop. E', 'Yes on Prop. F', 'No on Prop. A'],
    'amount_raised': [1375760.0, 74640.0, 212166.0, 38531.0, 926350.0, 617500.0, 379348.0, 2255905.0, 1076000.0, 0.0],
    'slate': ['', '', '', '', '', '', '', '', '', ''],
    'votes': [67492, 45553, 40053, 37139, 68458, 32623, 53236, 59818, 63295, 32599],
    'race': ['Measure', 'Measure', 'Measure', 'Measure', 'Measure', 'Measure', 'Measure', 'Measure', 'Measure', 'Measure']
}

# Create a pandas DataFrame
df = pd.DataFrame(data)

# Extract features and target variable
X = df[['amount_raised']]
y = df['votes']

# Initialize the linear regression model
model = LinearRegression()

# Fit the model to the data
model.fit(X, y)

# Print the coefficients
print('Coefficient (amount_raised):', model.coef_[0])
print('Intercept:', model.intercept_)

Coefficient (amount_raised): 0.013722505691325796
Intercept: 40480.95059099995

In [373]:
# # Import necessary libraries
# from sklearn.linear_model import LinearRegression
# import pandas as pd

# # Define your dataset (assuming it's in a pandas DataFrame)
# data = {
#     'amount_raised': [17453.0, 16572.0, 274675.0, 52817.0, 141043.0, 121736.0, 37666.0, 61276.0, 58752.0, 53969.0, 19890.0, 273.0, 13644.0, 19121.0, 56904.0, 15247.0, 43782.0, 39302.0, 900.0, 15934.0, 48385.0, 16361.0, 15455.0, 53544.0, 92538.0, 40180.0, 12199.0, 70974.0, 34574.0, 48067.0, 21357.0, 248100.0, 130634.0, 225960.0, 20287.0, 117028.0, 56808.0, 87248.0, 27318.0, 54543.0, 57231.0, 23133.0, 55648.0, 15691.0, 89329.0, 23340.0, 52344.0, 23490.0, 58608.0, 14459.0, 0.0],
#     'votes': [9735, 11181, 15631, 9614, 13946, 16499, 13185, 9853, 9740, 15182, 7432, 1237, 9860, 8961, 6444, 6513, 10456, 13365, 1660, 12012, 14321, 13873, 9939, 10081, 9917, 13131, 7001, 16010, 12952, 13492, 7396, 11245, 19860, 15081, 12611, 12999, 10618, 17052, 8037, 11083, 9246, 12339, 13113, 5948, 10022, 7460, 9227, 11073, 15957, 10759, 2594]
# }

# # Create a pandas DataFrame
# df = pd.DataFrame(data)

# # Extract features and target variable
# X = df[['amount_raised']]
# y = df['votes']

# # Initialize the linear regression model
# model = LinearRegression()

# # Fit the model to the data
# model.fit(X, y)

# # Print the coefficients
# print('Coefficient (amount_raised):', model.coef_[0])
# print('Intercept:', model.intercept_)

In [374]:
import statsmodels.api as sm

# Add a constant term to the predictor variable matrix for the intercept
X_with_intercept = sm.add_constant(X)

# Fit the ordinary least squares (OLS) model
model_ols = sm.OLS(y, X_with_intercept).fit()

# Get the summary of the regression model
print(model_ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  votes   R-squared:                       0.490
Model:                            OLS   Adj. R-squared:                  0.427
Method:                 Least Squares   F-statistic:                     7.694
Date:                Wed, 13 Mar 2024   Prob (F-statistic):             0.0242
Time:                        14:52:36   Log-Likelihood:                -105.92
No. Observations:                  10   AIC:                             215.8
Df Residuals:                       8   BIC:                             216.4
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          4.048e+04   4840.898      8.362      0.000    2.93e+04    5.16e+04
amount_raised     0.0137      0.005      2.774      0.024       0.002       0.025
==============================================================================
Omnibus:                        0.733   Durbin-Watson:                   3.251
Prob(Omnibus):                  0.693   Jarque-Bera (JB):                0.582
Skew:                          -0.156   Prob(JB):                        0.748
Kurtosis:                       1.860   Cond. No.                     1.39e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

/Users/kellywaldron/.pyenv/versions/3.11.0rc2/lib/python3.11/site-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "