In [918]:
import pandas as pd

In [919]:
# read csv

df = pd.read_csv('data.csv')

In [920]:
df

,name,contest,amount,committee_name,position,slate,race
0,1266 Ninth LLC(Dan Safier),Proposition A,375.0,Affordable Housing For SF,Support,NaN,Measure
1,3333 California(Dan Safier),Proposition A,13900.0,Affordable Housing For SF,Support,NaN,Measure
2,3700 California(Dan Safier),Proposition A,11900.0,Affordable Housing For SF,Support,NaN,Measure
3,94123Hala Hijazi,John Avalos,250.0,John Avalos For Democratic County Central Comm...,Support,progressive,DCCC
4,A San Francisco For All of Us,Proposition F,7500.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
...,...,...,...,...,...,...,...
4148,Yen Hui,Seat 13,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4149,Yj Choi,Seat 13,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4150,Zachary Alinder,Seat 1,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Seat 1,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4152,Zachary Stobo,Seat 13,500.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge

In [921]:
df[df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku"]

,name,contest,amount,committee_name,position,slate,race
2879,A. Marisa Chun,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2880,A. Marisa Chun,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2882,Aaron Peskin,Seat 1,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2883,Aaron Peskin,Seat 13,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2893,Alan Murphy,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
...,...,...,...,...,...,...,...
4127,William Cahill,Seat 13,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4134,William Osterhoudt,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4135,William Osterhoudt,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4143,William Wilson,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4144,William Wilson,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge

## Fixing judge contest names

In [922]:
# show the rows where the race equals "judge" 

df[df["race"] == "judge"].committee_name.value_counts()

Begert 2024; Retain Judge Michael                                                                                   365
Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku    247
Zecher For Superior Court Judge 2024; Chip                                                                          239
Thompson 2024; Retain Judge Patrick                                                                                 213
Roland For Superior Court Judge 2024; Jean Myungjin                                                                 209
Independent Expenditure                                                                                               2
Name: committee_name, dtype: int64

In [923]:
df[df["contest"] == "Seat 1"]

,name,contest,amount,committee_name,position,slate,race
2878,A Chun,Seat 1,500.0,Begert 2024; Retain Judge Michael,right,None,judge
2879,A. Marisa Chun,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2881,Aaron Peskin,Seat 1,100.0,Begert 2024; Retain Judge Michael,right,None,judge
2882,Aaron Peskin,Seat 1,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2885,Aarti Kohli,Seat 1,500.0,Begert 2024; Retain Judge Michael,right,None,judge
...,...,...,...,...,...,...,...
4143,William Wilson,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4145,William Witte,Seat 1,1000.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4146,Wisfe Aish,Seat 1,12500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4150,Zachary Alinder,Seat 1,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Seat 1,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge

In [924]:
df.loc[(df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku") & (df["contest"] == "Seat 1"), "contest"] = "Michael Isaku Begert"

In [925]:
df.loc[(df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku") & (df["contest"] == "Seat 13"), "contest"] = "Patrick Thompson"

In [926]:
df.loc[(df["committee_name"] == "Begert 2024; Retain Judge Michael"), "contest"] = "Michael Isaku Begert"

In [927]:
df.loc[(df["committee_name"] == "Zecher For Superior Court Judge 2024; Chip"), "contest"] = "Albert Zecher"

In [928]:
df.loc[(df["committee_name"] == "Thompson 2024; Retain Judge Patrick"), "contest"] = "Patrick Thompson"

In [929]:
df.loc[(df["committee_name"] == "Roland For Superior Court Judge 2024; Jean Myungjin"), "contest"] = "Jean Myungjin Roland"

In [930]:
df[df["committee_name"] == "Independent Expenditure "]

Empty DataFrame
Columns: [name, contest, amount, committee_name, position, slate, race]
Index: []

In [931]:
df.loc[(df["committee_name"] == "Independent Expenditure") & (df["contest"] == "Seat 1"), "contest"] = "Albert Zecher"

In [932]:
df.loc[(df["committee_name"] == "Independent Expenditure") & (df["contest"] == "Seat 13"), "contest"] = "Jean Myungjin Roland"

## Fix Prop contest names

In [933]:
df.loc[(df["contest"] == "Proposition A") & (df["position"] == "Support"), "contest"] = "Yes on Prop. A"

In [934]:
df.loc[(df["contest"] == "Proposition A") & (df["position"] == "Oppose"), "contest"] = "No on Prop. A"

In [935]:
df.loc[(df["contest"] == "Proposition B") & (df["position"] == "Support"), "contest"] = "Yes on Prop. B"

In [936]:
df.loc[(df["contest"] == "Proposition B") & (df["position"] == "Oppose"), "contest"] = "No on Prop. B"

In [937]:
df.loc[(df["contest"] == "Proposition C") & (df["position"] == "Support"), "contest"] = "Yes on Prop. C"

In [938]:
df.loc[(df["contest"] == "Proposition C") & (df["position"] == "Oppose"), "contest"] = "No on Prop. C"

In [939]:
df.loc[(df["contest"] == "Proposition E") & (df["position"] == "Support"), "contest"] = "Yes on Prop. E"

In [940]:
df.loc[(df["contest"] == "Proposition E") & (df["position"] == "Oppose"), "contest"] = "No on Prop. E"

In [941]:
df.loc[(df["contest"] == "Proposition F") & (df["position"] == "Support"), "contest"] = "Yes on Prop. F"

In [942]:
df.loc[(df["contest"] == "Proposition F") & (df["position"] == "Oppose"), "contest"] = "No on Prop. F"

In [943]:
df.loc[(df["contest"] == "Proposition G") & (df["position"] == "Oppose"), "contest"] = "No on Prop. G"

In [944]:
df.loc[(df["contest"] == "Proposition G") & (df["position"] == "Support"), "contest"] = "Yes on Prop. G"

## Merge data

In [945]:
df

,name,contest,amount,committee_name,position,slate,race
0,1266 Ninth LLC(Dan Safier),Yes on Prop. A,375.0,Affordable Housing For SF,Support,NaN,Measure
1,3333 California(Dan Safier),Yes on Prop. A,13900.0,Affordable Housing For SF,Support,NaN,Measure
2,3700 California(Dan Safier),Yes on Prop. A,11900.0,Affordable Housing For SF,Support,NaN,Measure
3,94123Hala Hijazi,John Avalos,250.0,John Avalos For Democratic County Central Comm...,Support,progressive,DCCC
4,A San Francisco For All of Us,Yes on Prop. F,7500.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
...,...,...,...,...,...,...,...
4148,Yen Hui,Jean Myungjin Roland,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4149,Yj Choi,Jean Myungjin Roland,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4150,Zachary Alinder,Michael Isaku Begert,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Albert Zecher,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4152,Zachary Stobo,Jean Myungjin Roland,500.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge

In [946]:
votes = pd.read_csv('votes.csv')

In [947]:
votes

            contest  votes     race
0    Yes on Prop. A  68458  Measure
1     No on Prop. A  32599  Measure
2    Yes on Prop. B  32623  Measure
3     No on Prop. B  67492  Measure
4    Yes on Prop. C  53236  Measure
..              ...    ...      ...
62  Marjan Philhour  11245     DCCC
63        Mano Raju   7396     DCCC
64       Hene Kelly   6513     DCCC
65       Gordon Mar   8961     DCCC
66       Brian Quan   9614     DCCC

[67 rows x 3 columns]

In [948]:
# group by contest and sum the votes but also keep the slate 

df = df.groupby(["contest", "slate"]).sum().reset_index()

/var/folders/_0/x7xh_2c16jq4chdcqrg28fr40000gn/T/ipykernel_7546/1321631659.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby(["contest", "slate"]).sum().reset_index()

In [949]:
df

                 contest        slate     amount
0       Adolfo Velasquez  progressive   17453.00
1          Albert Zecher         None  704683.96
2         Anita Martinez  progressive   16572.00
3          Bilal Mahmood     moderate  274675.00
4             Brian Quan     moderate   52817.00
5          Carrie Barnes     moderate  141043.00
6      Catherine Stefani     moderate  121736.00
7           Cedric Akbar     moderate   37666.00
8            Connie Chan  progressive   61276.00
9           Dan Calamuci     moderate   58752.00
10           Emma Heiken     moderate   53969.00
11         Frances Hsieh  progressive   19890.00
12          Gloria Berry  progressive   13644.00
13            Gordon Mar  progressive   19121.00
14         Greg Hardeman  progressive   56904.00
15            Hene Kelly  progressive   15247.00
16               Jade Tu     moderate   43782.00
17              Jane Kim  progressive   39302.00
18  Jean Myungjin Roland         None  406256.29
19            Jeremy Lee  progressive   15934.00
20        Joe Sangirardi     moderate   48385.00
21           John Avalos  progressive   16361.00
22     Joshua Rudy Ochoa  progressive   15455.00
23         Kristin Hardy  progressive   53544.00
24          Lanier Coles     moderate   92538.00
25          Laurance Lee     moderate   40180.00
26          Leah Lacroix  progressive   12199.00
27               Lily Ho     moderate   70974.00
28           Luis Zamora     moderate   34574.00
29           Lyn Werbach     moderate   48067.00
30             Mano Raju  progressive   21357.00
31       Marjan Philhour     moderate  248100.00
32           Matt Dorsey     moderate  130634.00
33  Michael Isaku Begert         None  417480.67
34           Michael Lai     moderate  225960.00
35        Michael Nguyen  progressive   20287.00
36   Michela Alioto-Pier     moderate  117028.00
37             Mike Chen     moderate   56808.00
38            Nancy Tung     moderate   87248.00
39           Natalie Gee  progressive   27318.00
40           Parag Gupta     moderate   54543.00
41          Patrick Bell  progressive   57231.00
42      Patrick Thompson         None  274764.12
43        Peter Gallotta  progressive   23133.00
44             Peter Lee     moderate   55648.00
45           Queena Chen  progressive   15691.00
46          Sal Rosselli  progressive   89329.00
47          Sandra Fewer  progressive   23340.00
48             Sara Barz     moderate   52344.00
49        Sydney Simpson  progressive   23490.00
50       Trevor Chandler     moderate   58608.00
51            Vick Chung  progressive   14459.00

In [950]:
# rename the amount column to amount_raised 

df = df.rename(columns={"amount": "amount_raised"})

In [951]:
# delete the row where the contest is multiple candidates RCCC

df = df[df.contest != "Multiple Candidates Rccc"]

In [952]:
df

                 contest        slate  amount_raised
0       Adolfo Velasquez  progressive       17453.00
1          Albert Zecher         None      704683.96
2         Anita Martinez  progressive       16572.00
3          Bilal Mahmood     moderate      274675.00
4             Brian Quan     moderate       52817.00
5          Carrie Barnes     moderate      141043.00
6      Catherine Stefani     moderate      121736.00
7           Cedric Akbar     moderate       37666.00
8            Connie Chan  progressive       61276.00
9           Dan Calamuci     moderate       58752.00
10           Emma Heiken     moderate       53969.00
11         Frances Hsieh  progressive       19890.00
12          Gloria Berry  progressive       13644.00
13            Gordon Mar  progressive       19121.00
14         Greg Hardeman  progressive       56904.00
15            Hene Kelly  progressive       15247.00
16               Jade Tu     moderate       43782.00
17              Jane Kim  progressive       39302.00
18  Jean Myungjin Roland         None      406256.29
19            Jeremy Lee  progressive       15934.00
20        Joe Sangirardi     moderate       48385.00
21           John Avalos  progressive       16361.00
22     Joshua Rudy Ochoa  progressive       15455.00
23         Kristin Hardy  progressive       53544.00
24          Lanier Coles     moderate       92538.00
25          Laurance Lee     moderate       40180.00
26          Leah Lacroix  progressive       12199.00
27               Lily Ho     moderate       70974.00
28           Luis Zamora     moderate       34574.00
29           Lyn Werbach     moderate       48067.00
30             Mano Raju  progressive       21357.00
31       Marjan Philhour     moderate      248100.00
32           Matt Dorsey     moderate      130634.00
33  Michael Isaku Begert         None      417480.67
34           Michael Lai     moderate      225960.00
35        Michael Nguyen  progressive       20287.00
36   Michela Alioto-Pier     moderate      117028.00
37             Mike Chen     moderate       56808.00
38            Nancy Tung     moderate       87248.00
39           Natalie Gee  progressive       27318.00
40           Parag Gupta     moderate       54543.00
41          Patrick Bell  progressive       57231.00
42      Patrick Thompson         None      274764.12
43        Peter Gallotta  progressive       23133.00
44             Peter Lee     moderate       55648.00
45           Queena Chen  progressive       15691.00
46          Sal Rosselli  progressive       89329.00
47          Sandra Fewer  progressive       23340.00
48             Sara Barz     moderate       52344.00
49        Sydney Simpson  progressive       23490.00
50       Trevor Chandler     moderate       58608.00
51            Vick Chung  progressive       14459.00

In [953]:
# make a list of all the contests

contests = df.contest.unique()

In [954]:
contests

array(['Adolfo Velasquez', 'Albert Zecher', 'Anita Martinez',
       'Bilal Mahmood', 'Brian Quan', 'Carrie Barnes',
       'Catherine Stefani', 'Cedric Akbar', 'Connie Chan', 'Dan Calamuci',
       'Emma Heiken', 'Frances Hsieh', 'Gloria Berry', 'Gordon Mar',
       'Greg Hardeman', 'Hene Kelly', 'Jade Tu', 'Jane Kim',
       'Jean Myungjin Roland', 'Jeremy Lee', 'Joe Sangirardi',
       'John Avalos', 'Joshua Rudy Ochoa', 'Kristin Hardy',
       'Lanier Coles', 'Laurance Lee', 'Leah Lacroix', 'Lily Ho',
       'Luis Zamora', 'Lyn Werbach', 'Mano Raju', 'Marjan Philhour',
       'Matt Dorsey', 'Michael Isaku Begert', 'Michael Lai',
       'Michael Nguyen', 'Michela Alioto-Pier', 'Mike Chen', 'Nancy Tung',
       'Natalie Gee', 'Parag Gupta', 'Patrick Bell', 'Patrick Thompson',
       'Peter Gallotta', 'Peter Lee', 'Queena Chen', 'Sal Rosselli',
       'Sandra Fewer', 'Sara Barz', 'Sydney Simpson', 'Trevor Chandler',
       'Vick Chung'], dtype=object)

In [955]:
votes.contest.unique()

array(['Yes on Prop. A', 'No on Prop. A', 'Yes on Prop. B',
       'No on Prop. B', 'Yes on Prop. C', 'No on Prop. C',
       'Yes on Prop. E', 'No on Prop. E', 'Yes on Prop. F',
       'No on Prop. F', 'Yes on Prop. G', 'No on Prop. G',
       'Michael Isaku Begert', 'Chip Zecher', 'Patrick Thompson',
       'Jean Myungjin Roland', 'Peter Gallotta', 'Kristin Hardy',
       'Emma Heiken', 'Lily Ho', 'John Avalos', 'Cedric Akbar',
       'Nancy Tung', 'Frank Tizedes', 'Michael Lai', 'Jeremy Lee',
       'Laurance Lem Lee', 'Peter Ho Lik Lee', 'Trevor Chandler',
       'Vick Chung', 'Christopher Christensen', 'Carrie Barnes',
       'Patrick Bell', 'Gloria Berry', 'Adolfo Velasquez',
       'Michael Nguyen', 'Lyn Werbach', 'Joe Sangirardi',
       'Sydney Simpson', 'Joshua Rudy Ochoa', 'Luis Zamora',
       'Matt Dorsey', 'Sal Rosselli', 'Jane Kim', 'Bilal Mahmood',
       'Anita Martinez', 'Parag Gupta', 'Natalie Gee', 'Greg Hardeman',
       'Frances Hsieh', 'Michela Alioto-Pier', 'Jade Tu', 'Leah Lacroix',
       'Sandra Lee Fewer', 'Connie Chan', 'Mike Chen', 'Queena Chen',
       'Dan Calamuci', 'Lanier Coles', 'Sara Barz', 'Jen Nossokoff',
       'Catherine Stefani', 'Marjan Philhour', 'Mano Raju', 'Hene Kelly',
       'Gordon Mar', 'Brian Quan'], dtype=object)

In [956]:
votes.columns

Index(['contest', 'votes', 'race'], dtype='object')

In [957]:
# change amount to number_votes 

votes = votes.rename(columns={"amount": "number_votes"})

In [958]:
votes

            contest  votes     race
0    Yes on Prop. A  68458  Measure
1     No on Prop. A  32599  Measure
2    Yes on Prop. B  32623  Measure
3     No on Prop. B  67492  Measure
4    Yes on Prop. C  53236  Measure
..              ...    ...      ...
62  Marjan Philhour  11245     DCCC
63        Mano Raju   7396     DCCC
64       Hene Kelly   6513     DCCC
65       Gordon Mar   8961     DCCC
66       Brian Quan   9614     DCCC

[67 rows x 3 columns]

In [959]:
# in df["contest"] replace Sandra Lee Fewer with Sandra Lee Fewer for Supervisor

df.loc[(df["contest"] == "Sandra Fewer"), "contest"] = "Sandra Lee Fewer"
df.loc[(df["contest"] == "Albert Zecher"), "contest"] = "Chip Zecher"
df.loc[(df["contest"] == "Peter Lee"), "contest"] = "Peter Ho Lik Lee"
df.loc[(df["contest"] == "Laurance Lee"), "contest"] = "Laurance Lem Lee"

In [960]:
# join the two dataframes on contest

df = df.merge(votes, on="contest", how='outer')

In [961]:
df

                    contest        slate  amount_raised  votes      race
0          Adolfo Velasquez  progressive       17453.00   9735      DCCC
1               Chip Zecher         None      704683.96  36970    Judge
2            Anita Martinez  progressive       16572.00  11181      DCCC
3             Bilal Mahmood     moderate      274675.00  15631      DCCC
4                Brian Quan     moderate       52817.00   9614      DCCC
..                      ...          ...            ...    ...       ...
62           Yes on Prop. G          NaN            NaN  83916   Measure
63            No on Prop. G          NaN            NaN  16105   Measure
64            Frank Tizedes          NaN            NaN   1237      DCCC
65  Christopher Christensen          NaN            NaN   2594      DCCC
66            Jen Nossokoff          NaN            NaN   1660      DCCC

[67 rows x 5 columns]

In [962]:
# only keep the rows where the race is DCCC 

df = df[df['race'] == 'DCCC']

In [963]:
# show column types

df.dtypes

contest           object
slate             object
amount_raised    float64
votes              int64
race              object
dtype: object

In [964]:
# if amount raised is null, replace with 0

df["amount_raised"] = df["amount_raised"].fillna(0)

/var/folders/_0/x7xh_2c16jq4chdcqrg28fr40000gn/T/ipykernel_7546/3459505791.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["amount_raised"] = df["amount_raised"].fillna(0)

In [965]:
df.dtypes

contest           object
slate             object
amount_raised    float64
votes              int64
race              object
dtype: object

In [966]:
# save as csv

df.to_csv('all_data.csv', index=False)